
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the NBA Hub!</title>
    <link rel="stylesheet" href="css/base.css">
</head>

<body>
    <div id="background-container">
        <div id="header">
            <nav>
                <ul>
                    <li><a href='team.html'>Teams</a></li>
                    <li><a href='player.html'>Players</a></li>
                    <li><a href='aboutUs.html'>About us</a></li>
                   
                </ul>
            </nav>
            <div id="logo-container">
                <img id="nba-logo" src="images/nba.png" alt="NBA Logo">
            </div>
        </div>
        <p>Developed by Jorgan Melendez and Jorge Murillo</p>
        
        <!-- Image container for two images -->
        <div class="image-container">
            <img src="images/kobe.jpeg" alt="First Image">
            <img src="images/jordan.jpeg" alt="Second Image">
        </div>
    </div>
</body>

</html>




