<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Hub - Conferences</title>
    <link rel="stylesheet" href="css/conference.css">
</head>

<body>
    <header>
        <div class="nav-container">
            <a href="base.html">Home</a>
            <a href="team.html">Teams</a>
            <a href="player.html">Players</a>
        </div>
    </header>

    <div id="conferences-container">
        <div class="conference-column" id="conferences">
            <h2>Conferences</h2>
            <table id="conferences-table">
                <!-- Table content will be dynamically inserted here -->
            </table>
        </div>
    </div>

    <script src="../js/conference.js"></script>
</body>

</html>



