<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Hub - Players</title>
    <link rel="stylesheet" href="css/player.css">
</head>
<body>
    <h1>Players</h1>
    <button id="compareButton">Compare Players</button>
    
    <table id="playerTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Team Abbreviation</th>
                <th>Games</th>
                <th>Field Goals</th>
                <th>Three Points</th>
                <th>Free Throws</th>
                <th>Rebounds</th>
                <th>Assists</th>
                <th>Steals</th>
                <th>Blocks</th>
                <th>Personal Fouls</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody id="playerTableBody">
        </tbody>
    </table>

    <script src="../js/player.js"></script>
</body>
</html>



