
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Hub - Teams</title>
  
</head>
<body>
    <h1>Teams</h1>


    <form id="addTeamForm">
        <label for="newTeamAbbreviation">Abbreviation:</label>
        <input type="text" id="newTeamAbbreviation" name="newTeamAbbreviation" required>


        <button type="submit">Add Team</button>
    </form>


    <table id="teamTable">
        <thead>
            <tr>
                <th>Abbreviation</th>
                <th>Players</th>
            </tr>
        </thead>
        <tbody id="teamTableBody">
       
        </tbody>
    </table>

    <script src="team.js"></script>
</body>
</html>
