body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#compare-container {
    max-width: 800px;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

h1 {
    color: #ffcc00;
    text-align: center;
    margin-bottom: 20px;
}

#team-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

#team-names {
    font-size: 18px;
}

#compare-options {
    text-align: center;
    margin-left: 10px;
}

#compare-options label {
    color: #ffcc00;
}

#compare-field {
    padding: 8px;
    border-radius: 5px;
    margin-left: 10px;
}

#team-stats-container {
    background-color: #ddd;
    border-radius: 10px;
    padding: 20px;
}

#team-table-container {
    margin-bottom: 20px;
}

#team-table {
    width: 100%;
    border-collapse: collapse;
}

#team-table th, #team-table td {
    border: 1px solid #888;
    padding: 8px;
    text-align: center;
}

#chart-container {
    text-align: center;
}

